.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    left: 92%;
    top: 2.0vh;
    height: 48px;
    width: 48px;
}
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 12px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 12px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 18px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -18px;
}

.hidden {
    display: none;
}
h1 h2 h3 li p #main-quoter{
    font-family: 'Open Sans', sans-serif !important;
}

h1 {
    
    font-size: 21px;
}

.text-div {
    padding-top: 5vh;
}

h2 {
    font-size: 3vh;
    color: #505050;
}

#shroud{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 1000px) {
    #shroud{
        width: auto;
        height: 100%;
        margin-left: -50vh;
    }
}

li{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 12px;
    color: #505050;
    max-width:800px;
    word-wrap: break-word;
    list-style-type: none;
    padding-right: 8vw;
    text-align: justify;
    line-height: 200%;
}

#main-quoter {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 62px;
    color: #000000;
    max-width: 800px;
    word-wrap: break-word;
    list-style-type: none;
    line-height: 200%;
}

#ava-ui {
    position:absolute;
    width:100vw;
    height:100vh;
    z-index: 0;
}

#main-scene {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.58);
    width:100vw;
    height:100vh;
    z-index: 0;
}

#nav-logo {
    position: absolute;
    width: auto;
    height: 5vh;
    left: 2.5vw;
    top: 1.65vh;
}

#logo {
    width: 100%;
    height: 1%;
    top: 14%;
    position: absolute;
    background-color: transparent;
}

p.menu_li{
    position: relative;
    left: 3vw;
    top: 3vh;
    width: 94vw;
    font-family: 'Open Sans', sans-serif !important;
    text-align: left;
    font-size: 18px;
    padding-top: 0.5vh;
    cursor: pointer;
    padding-bottom: 3.5vh;
    color: #000000;
    border-bottom: 1px solid black
}

h3{
    font-family: 'Open Sans', sans-serif !important;
    font-size: 18px;
    color: #7a7a7a
}

.menu_footer {
    border-left: 2px solid rgb(60, 135, 220);
    padding-left: 2.5vw;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
}

body {
    background-color: #ffffff;
    font-family:Monospace;
    font-size:13px;
    overflow-y: scroll;
    margin: 0;
    max-width: 100% !important;
    overflow-x: hidden !important;
    text-align:center;
}

html, div, input {
    user-select: none;

}

p, li, h1, td{
    user-select: text;
}

::-webkit-scrollbar {
    display:none;
}
main.img{

}
#menu {
    -webkit-backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 92%;
    width: 100vw;
    z-index: 1;
    background-color: rgba(255,255,255,1);
    height:14vh;
    transition: opacity, ease 0s;
    border-top: 2px solid black;
}

#left-buffer{
    background-image: -webkit-linear-gradient(left, rgba(210,210,210,0.7), rgba(250,25,0,0.005));
}

#right-buffer{
    background-image: -webkit-linear-gradient(right, rgba(210,210,210,0.7), rgba(250,25,0,0.005));
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

a:hover{
    filter: invert(100%);
}

#sub-menu{
    border-bottom: 2px solid black;
    transition: top, opacity 0.40s ease 0s;
    position:relative;
    left: 100vw;
    top: -5vh;
    margin-top: 8vh;
    height: 100vh;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
}

#main-divider1 {
    clip-path: polygon(0 96%, 100% 100%, 100% 4%, 0 0);
    position: absolute;
    top: 165.65vh;
    width: 100%;
    height: 70.60vh;
    background-color: rgb(60, 135, 220);
}

#main-divider2 {
    clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
    position: absolute;
    top: 298.8vh;
    width: 100%;
    height: 70.70vh;
    background-color: rgb(60, 135, 220);
}

#main-divider3 {
    position: absolute;
    top: 358.8vh;
    width: 100%;
    height: 9vh;
    z-index: 1;
    border-top: 3px solid black;
    background: linear-gradient(to bottom, rgba(60, 135, 220, 0.4) 0%,rgba(255,255,255,0) 100%);
    border-bottom: 2px solid white;
}

#start-button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    opacity: 1;
    position: relative;
    outline: none;
    top: 2.5vh;
}

#main-what {
    position: absolute;
    background-color: rgb(255,255,255);
    top: 102vh;
    text-align: left;
    padding-left: 3.5vw;
    font-size: 16px;
    border-top: 200px solid whit;
    width:100vw;
    height:100vh;
    z-index: 0;
}

#main-how {
    text-align: left;
    padding-left: 3.5vw;
    font-size: 16px;
    z-index: 0;
    clip-path: polygon(0 96%, 100% 100%, 100% 4%, 0 0);
    position: absolute;
    top: 166vh;
    width: 100%;
    height: 70vh;
    background-color: rgb(225, 225, 225)
}

#main-why {
    text-align: left;
    padding-left: 3.5vw;
    font-size: 16px;
    position: absolute;
    top: 234vh;
    width: 100%;
    height: 70.5vh;
    z-index: -1;
    background-color: rgb(255, 255, 255)
}

#main-start {
     text-align: left;
     padding-left: 3.5vw;
     font-size: 16px;
     z-index: 0;
     clip-path: polygon(0 2.5%, 100% 0, 100% 96%, 0% 100%);
     position: absolute; top: 299.15vh;
     width: 100%;
     height: 82vh;
     background-color: rgb(225, 225, 225)
 }

#main-mobile {
    position: absolute;
    text-align: left;
    padding-left: 3.5vw;
    font-size: 16px;
    z-index: 0;
    top: 359vh;
    width: 100%;
    height: 30vh;

    background-color: rgb(255, 255, 255)
}

#main-footer {
    position: absolute;
    top: 399vh;
    width: 100%;
    height: 10vh;
    border-top: 2px solid rgba(0,0,0, 1);
    background-color: rgb(255, 255, 255)
}

#nav-button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
    position: absolute;
    width: auto;
    height: 4vh;
    left: 89vw;
    top: 2.0vh;
}

#pull-up{
    border-bottom: 2px solid black;
    transition: top, opacity 0.20s ease 0s;
    position:fixed;
    left: 100vw;
    top: -5vh;
    margin-top: 8vh;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
}

#pull-up-head{
    cursor: default;
}

#pull-up-text{
    cursor: default;
}

.footer_link{
    text-decoration: underline;
}

.footer_link:hover{
    cursor: pointer;
}

#main-transition {
    pointer-events: none;
    transition: opacity 0.20s ease 0s;
    opacity: 0;
    background-color: rgb(60, 135, 220);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position: fixed;
}

